*{
	padding: 0;
	margin: 0;
}

body {
	background-color: #D0D3C5;
}

header {
	background-color:#56B1BF;
	height: 200px;
}

header h1 {
	display: block;
	position: absolute;
	top: 90px;
	bottom: 90px;
	left: 40%;
	right: 40%;
	color: white;
}

nav {
	background-color: #08708A;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav li {
	display: inline-block;
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
}
/* ------------ SECTION 1 -------------------- */
#section1 {
	background: url("../img/fondo.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	height: 600px;
	text-align: center;
}
#section1 h1 {
	padding-top: 50px;
}

#section1 .container {
	background: rgba(255, 162, 51, 0.6);
	width: 30%;
	height: 300px;
	position: relative;
	left: 35%;
	right: 35%;
	top: 100px;
	border-radius: 10px;
}


#section1 .container h1, h2{
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

#section1 .container h2 {
	font-size: 30px;
}

#section1 .container button {
	border: none;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	position: absolute;
	background-color: #FF3333;
	font-weight: bold;
	left: 90px;
}

#section1 .container #increment-btn {
	top: 140px;
}

#section1 .container #save-btn {
	top: 180px;
}

#section1 .container h3 {
	display: block;
	position: absolute;
	top: 220px;
}

/* ------------------------------------------------------ */

/* -------- SECTION 2 ----------------------------------*/ 

#section2 {
	height: 600px;
	border: solid;
	border-color: pink;
}

#section2 img {
	width: 300px;
	height: 300px;
	position: relative;
	top: 100px;
	left: 450px;
	right: 450px;
}

#section2 h1 {
	display: block;
	position: relative;
	top: 150px;
	left: 500px;
	right: 500px;
}

#section2 button {
	display: block;
	position: relative;
	top: 170px;
	left: 500px;
	right: 500px;
}

#section2 #error {
	position: relative;
	top: 190px;
	left: 500px;
	right: 500px;
	color: red;
}

/* ------------------------------------------------------ */

/* -------- SECTION 3 ----------------------------------*/ 

#section3 {
	height: 600px;
}

/* ------------------------------------------------------ */

/* -------- SECTION 4 ----------------------------------*/ 

#section4 {
	height: 600px;
}

/* ------------------------------------------------------ */

/* -------- SECTION 5 ----------------------------------*/ 

#section5 {
	height: 600px;
}

/*-----------------------------------------------------*/

/*-------------- FOOTER ------------------------------*/

footer {
	height: 200px;
}