@import url ('https://fonts.googleapis.com/css2? family = Noto + Sans & display = swap');

*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-family:  'Noto Sans', sans-serif;
}

body {
	background-color: #FFFFFF;
}

header {
	background-color:#56B1BF;
	height: 200px;
}

header h1 {
	display: block;
	position: absolute;
	top: 90px;
	bottom: 90px;
	left: 40%;
	right: 40%;
	color: white;
}

nav {
	background-color: #08708A;
	height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

nav li {
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 12px;
}

nav li a {
	color:white;
}
/* ------------ SECTION 1 -------------------- */
#section1 {
	background: url("../img/fondo.jpg") no-repeat;
	background-size: cover;
	background-position: center center;
	height: 600px;
	text-align: center;
}
#section1 h1 {
	padding-top: 50px;
}

#section1 .container {
	background: rgba(255, 162, 51, 0.6);
	width: 30%;
	height: 300px;
	position: relative;
	left: 35%;
	right: 35%;
	top: 100px;
	border-radius: 10px;
}


#section1 .container h1, h2{
	display: block;
	text-align: center;
	font-weight: bold;
	padding: 10px;
}

#section1 .container h2 {
	font-size: 30px;
}

#section1 .container button {
	border: none;
	padding: 10px;
	width: 200px;
	border-radius: 5px;
	position: absolute;
	background-color: #FF3333;
	font-weight: bold;
	left: 90px;
}

#section1 .container #increment-btn {
	top: 140px;
}

#section1 .container #save-btn {
	top: 180px;
}

#section1 .container h3 {
	display: block;
	position: absolute;
	top: 220px;
}

/* ------------------------------------------------------ */

/* -------- SECTION 2 ----------------------------------*/ 
#section2 .section21 {
	width: 500px;
	height: 600px;
	position: relative;
	border: solid;
	border-color: red;
}

#section2 {
	height: 600px;
	border: solid;
	border-color: pink;
}

#section2 img {
	width: 300px;
	height: 300px;
	position: absolute;
	top: 100px;
	left: 100px;
}

#section2 h1 {
	display: block;
	position: absolute;
	top: 400px;
	left: 100px;
}

#section2 button {
	display: block;
	position: relative;
	top: 450px;
	left: 100px;
}

#section2 #error {
	position: relative;
	top: 470px;
	left: 100px;
	color: red;
}

/* ------------------------------------------------------ */

/* -------- SECTION 3 ----------------------------------*/ 

#section3 {
	height: 600px;
}

#section3 span {
	display: inline-block;
}

#section3 ul li {
	display: inline-block;
}

/* ------------------------------------------------------ */

/* -------- SECTION 4 ----------------------------------*/ 

#section4 {
	height: 600px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	background-color: rgba(0, 143, 57, 0.5);
	text-align: center;
	color: white;
}

#section4 h1 {
	color: goldenrod;
}

#section4 #message-el {
	font-style: italic;
}

#section4 button {
	color: #016f32;
	width: 150px;
	background-color: goldenrod;
	margin: 5px;
	padding: 5px;
	font-weight: bold; 
	border:none;
	border-radius: 5px;
}


/* ------------------------------------------------------ */

/* -------- SECTION 5 ----------------------------------*/ 

#section5 {
	height: 600px;
}

#section5 #apple-shelf, #orange-shelf {
	height:30px; 
	width:150px;
	background-color: red;
	border-radius: 5px;
}

#section5 #orange-shelf {
	background-color: orange;
}

/*-----------------------------------------------------*/

#section6 {
	height: 600px;
	padding: 10px;
}

#section6 input {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #5f9341;
}

#section6 button {
	margin-top: 10px;
	padding: 10px 20px;
	background-color: #5f9341;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 5px;
}

#section6 #box {
	cursor: pointer;
	background: lightseagreen;
	padding: 40px;
	width: 200px;
	text-align: center;
	margin: 20px auto;
	color: white;
	font-weight: bold;
}

#section6 ul {
	list-style: none;
	padding-left: 0;
	margin-top:20pxS;
}

#section6 li {
	margin:5px;
}

#section6 a {
	color: #5f9341;
}
/*-------------- FOOTER ------------------------------*/

footer {
	height: 200px;
}